body{
    /* background-image: url("https://images.pexels.com/photos/925743/pexels-photo-925743.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"); */
    background-color: #222629;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* font-weight: bold; */
    color: white;
}

#bottom-div{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Dosis', sans-serif; */

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* font-family: 'Dosis', sans-serif; */
}

.navbar-brand {
    /* color: black; */
    color: white;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
}

.navbar-brand:hover{
    color: black;
    background-color: white;
}

#center-div{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}